.progressBar {
  width: 500px;
  height:20px;
  border: 1px solid #d5d5d5;
  position: relative;
  text-align: center;
  border-radius: 8px;
}

.progressBar__progress{
  height:100%;
  left:0;
  background: green;
  display: inline-block;
  position:absolute;
  border-radius: 6px;
  -webkit-transition : width 1s ease;
  -moz-transition : width 1s ease;
  -o-transition : width 1s ease;
  transition : width 1s ease;
}

.progressBar__value {
  display:inline-block;
  position: relative;
  font-size:18px;
}



